.widget {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #56AA1C;
  padding: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 2rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
